body {background-image: url("../img/pattern.jpg");
;}
header {width: 100%;
        background-color: white;
        position: fixed;
        padding-top: 0%;}

.nav {float: right;}
.home { display: inline-block;
        margin-right: 20px;
        text-decoration: none;
        font-weight: bold;
        color: blue;}
.about {display: inline-block;
        margin-right: 10px;
        text-decoration: none;
        font-weight: bold;}
.contact {
        display: inline-block;
        margin-right: 20px;
        text-decoration: none;
        font-weight: bold;}
.logo {float: left;
        margin-top: 0%;}
section {background: white;
        width: 60%;
        height: 75%;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 1px;
        }
.h1 {text-align: center;
        font-size: 30px;
        margin-top: 100px;}
footer{ height: 15px;
        text-align: center;
        color: white;
        background: black;
        padding-bottom: 10px;

}